body {
    overflow-y: scroll;
    font-family: "Raleway", sans-serif;
    background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url("lise.png");
    background-size: cover;
    animation: backgroundGradient 10s ease-in-out infinite;
}

@keyframes backgroundGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes listItemMove {
    0% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(-10px);
    }
}

@keyframes textColorChange {
    0% {
        color: white;
    }

    50% {
        color: black;
    }

    100% {
        color: white;
    }
}

ul {
    list-style-type: none;
    overflow: hidden;
    padding-left: 2%;
    padding-right: 2%;
}

#main #npid {
    color:white;
    font-size: 60px;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#main p {
    background-color: transparent;
    font-size: 24px;
    text-align: justify;
    margin: 0 5%;
    line-height: 1.6;
    color: #fff;
    opacity: 1;
    padding: 20px;
}

@keyframes textOpacityChange {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    right: 0;
    background: #1E1D1D;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: footerMove 2s ease-in-out infinite;
    color: white;
}

li {
    background-color: #333;
    float: left;
    font-family:"Raleway", sans-serif;
    font-size: 24px;
    border : 1px solid rgb(255, 255, 255); 
}

li a {
    font-family: "Raleway", sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 65px;
}

li a:hover {
    background-color: #111;
}